<a href="https://colab.research.google.com/github/Mehrnoushhk/DeepLearning/blob/master/Pin2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
url ='https://raw.githubusercontent.com/Mehrnoushhk/DeepLearning/master/GBPUSD%20-%201%20hour%20-%20RTH.csv'
rawdata = pd.read_csv(url)

In [0]:
# Body and Shadow calculation 
# This function will recive ohlc as a list and returns 
def candledim(ohlc):
  o = ohlc[0]
  h = ohlc[1]
  l = ohlc[2]
  c = ohlc[3]
  if o  >= c:
    candlebody = o - c
    candleuppershadow = h - o
    candlelowershadow = c - l
  else:
    candlebody = c - o
    candleuppershadow = h - c
    candlelowershadow = o - l
  return candlebody, candleuppershadow, candlelowershadow

In [0]:
#Adding dimentions to rawdata
(m,n) = rawdata.shape
body =[]
ups =[]
los = []
for i in range(0, m):
  ohlc = rawdata.iloc[i, 1:5]
  bodytemp, upstemp, lostemp = candledim(ohlc)
  body.append(bodytemp)
  ups.append(upstemp)
  los.append(lostemp)
rawdata['body'] = body
rawdata['ups'] = ups
rawdata['los'] = los

In [0]:
# Candidate selection
def candidate(row0):
  body = row0[0]
  ups = row0[1]
  los = row0[2]
  rate0 = 2.5
  if (ups >= rate0*(body + los)) or (los >= rate0*(body + ups)):
    candid = True
  else:
    candid = False
  return candid    
candidlist = []
for i in range (0,m):
  row0 = rawdata.iloc[i, 6:]
  canditemp = candidate(row0)
  candidlist.append(canditemp)
rawdata['candid'] = candidlist

In [6]:
pins = rawdata.loc[rawdata['candid'] == True]
pins

                date     open     high  ...      ups      los  candid
7    20191211 073000  1.31375  1.31466  ...  0.00086  0.00007    True
8    20191211 083000  1.31380  1.31458  ...  0.00078  0.00009    True
12   20191211 123000  1.31381  1.31572  ...  0.00185  0.00024    True
26   20191212 023000  1.31994  1.32004  ...  0.00005  0.00053    True
39   20191212 153000  1.31812  1.31815  ...  0.00003  0.00157    True
54   20191213 063000  1.34777  1.34811  ...  0.00021  0.00303    True
60   20191213 123000  1.34048  1.34210  ...  0.00053  0.00473    True
92   20191216 173000  1.33432  1.33485  ...  0.00042  0.00186    True
137  20191218 143000  1.30974  1.31178  ...  0.00199  0.00060    True
139  20191218 163000  1.30813  1.30832  ...  0.00019  0.00196    True
162  20191219 153000  1.30676  1.31333  ...  0.00542  0.00050    True
166  20191219 193000  1.30270  1.30392  ...  0.00059  0.00370    True
170  20191219 233000  1.30124  1.30236  ...  0.00109  0.00008    True
195  20191221 003000  1.30046  1.30075  ...  0.00029  0.00215    True
197  20191222 233000  1.29996  1.30121  ...  0.00125  0.00008    True
204  20191223 063000  1.30106  1.30166  ...  0.00060  0.00020    True
208  20191223 103000  1.30173  1.30206  ...  0.00019  0.00124    True
247  20191226 113000  1.29906  1.29922  ...  0.00016  0.00084    True
322  20191231 113000  1.31384  1.31396  ...  0.00012  0.00188    True
328  20191231 173000  1.32152  1.32174  ...  0.00022  0.00141    True
358  20200103 093000  1.31213  1.31242  ...  0.00006  0.00163    True
365  20200103 163000  1.30804  1.31100  ...  0.00296  0.00003    True
366  20200103 173000  1.30724  1.30899  ...  0.00175  0.00024    True
367  20200103 183000  1.30707  1.30944  ...  0.00227  0.00014    True
370  20200103 213000  1.30885  1.30903  ...  0.00018  0.00125    True
378  20200106 033000  1.30774  1.30883  ...  0.00083  0.00004    True
384  20200106 093000  1.30812  1.30835  ...  0.00006  0.00125    True
389  20200106 143000  1.31525  1.31746  ...  0.00177  0.00015    True
392  20200106 173000  1.31407  1.31613  ...  0.00206  0.00035    True
396  20200106 213000  1.31594  1.31679  ...  0.00085  0.00000    True
415  20200107 163000  1.31208  1.31237  ...  0.00029  0.00160    True
420  20200107 213000  1.31277  1.31375  ...  0.00098  0.00005    True
465  20200109 183000  1.30493  1.30541  ...  0.00048  0.00154    True
472  20200110 013000  1.30676  1.30689  ...  0.00004  0.00033    True
490  20200110 193000  1.30611  1.30625  ...  0.00014  0.00163    True

[35 rows x 10 columns]

In [7]:
rawdata.loc[rawdata['date'] == '20200108 173000']

                date    open     high  ...      ups      los  candid
440  20200108 173000  1.3122  1.31395  ...  0.00139  0.00022   False

[1 rows x 10 columns]

In [12]:
test0 = rawdata.loc[rawdata['date'] == '20200108 173000']
test1 = test0.iloc[0, 1:5]
test2 = candledim(test1)
test2

(0.00035999999999991594, 0.0013900000000000023, 0.000220000000000109)