<a href="https://colab.research.google.com/github/Mehrnoushhk/DeepLearning/blob/master/Pin2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
url ='https://raw.githubusercontent.com/Mehrnoushhk/DeepLearning/master/GBPUSD%20-%201%20hour%20-%20RTH.csv'
rawdata = pd.read_csv(url)

In [21]:
rawdata.head()

              date     open     high      low    close  volume
0  20191211 003000  1.31899  1.32017  1.31538  1.31568    8471
1  20191211 013000  1.31568  1.31608  1.31077  1.31229    9768
2  20191211 023000  1.31229  1.31318  1.31127  1.31293    9689
3  20191211 033000  1.31293  1.31360  1.31273  1.31343    7603
4  20191211 043000  1.31343  1.31365  1.31301  1.31335    6958

In [0]:
# Body and Shadow calculation 
def candledim(ohlc):
  o = ohlc[0]
  h = ohlc[1]
  l = ohlc[2]
  c = ohlc[3]
  if o  >= c:
    candlebody = o - c
    candleuppershadow = h - o
    candlelowershadow = c - l
  else:
    candlebody = c - o
    candleuppershadow = h - c
    candlelowershadow = o - l
  return candlebody, candleuppershadow, candlelowershadow

In [23]:
#Adding dimentions to rawdata
(m,n) = rawdata.shape
body =[]
ups =[]
los = []
for i in range(0, m):
  ohlc = rawdata.iloc[i, 1:5]
  bodytemp, upstemp, lostemp = candledim(ohlc)
  body.append(bodytemp)
  ups.append(upstemp)
  los.append(lostemp)
rawdata['body'] = body
rawdata['ups'] = ups
rawdata['los'] = los
rawdata.head()

              date     open     high  ...     body      ups      los
0  20191211 003000  1.31899  1.32017  ...  0.00331  0.00118  0.00030
1  20191211 013000  1.31568  1.31608  ...  0.00339  0.00040  0.00152
2  20191211 023000  1.31229  1.31318  ...  0.00064  0.00025  0.00102
3  20191211 033000  1.31293  1.31360  ...  0.00050  0.00017  0.00020
4  20191211 043000  1.31343  1.31365  ...  0.00008  0.00022  0.00034

[5 rows x 9 columns]